<div id="side-panel">
  <!-- <img src="/images/book-reader-solid.svg" id="logo" alt="Logo" fill="white"> -->
  <div class="side-panel-top">
    <h2>Wb;</h2>
    <h3>Writer's Block</h3>
  </div>

  <div class="side-panel-bottom">
    <h2>Story A: A Sprint to Finish</h2>
    <p>flavour flavour flavour flavour flavour flavour flavour flavour flavour flavour flavour flavour flavour</p>
    <button>LOGOUT</button>
  </div>



</div>


