<div id="side-panel">
  <div class="side-panel-top">
    <h2><a href="/">Wb;</a></h2>
    <h3>Writer's Block</h3>
  </div>

  <div class="side-panel-bottom">
    <h2><%= stories[2].title %></h2>
    <p><%= stories[2].flavour_text %></p>
    <% if (userName) { %>
      <form method="POST" action="users/logout" class="register-login logged-in">
        <p>Hello, <%= userName %>!</p>
        <button>Logout</button>
      </form>
    <% } else { %>
      <div class="register-login">
        <form method="POST" action="/register">
          <button>Register</button>
        </form>
        <form method="POST" action="users/login/2">
          <button>Login</button>
        </form>
      </div>
    <% } %>
  </div>



</div>

