/* _side_panel.scss */

/* styling for the whole side-panel div */
#side-panel {
  display: flex;
  flex-direction: column;
  font-family: $serif;
  justify-content: space-between;
  background-color: $maroon;
  // background-image: url('https://static01.nyt.com/images/2020/06/21/multimedia/21AH-cover-Chapman/21AH-cover-Chapman-jumbo.jpg');
  background-image: url('https://static01.nyt.com/images/2020/04/26/multimedia/26athome-cover/26athome-cover-jumbo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: $l-size;
  color: $white;
}

/*pseudo-class needed for overlay effect. give it z-index of 1 to place it over original div*/
#side-panel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  z-index: 1;
}

/*Give all direct children the highest relative z-index so text is placed on top of overlay*/
#side-panel > * {
  z-index: 100;
}

/*Content in the top half of side panel*/
.side-panel-top {
  /* Logo: Wb; */
  h2 {
    font-size: 10rem;
    margin-bottom: $xxl-size;
    font-weight: 700;
  }

  /*Logo: Wb;*/
  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: inherit;
  }

  /*Writer's Block text underneath logo*/
  h3 {
    visibility: hidden;
    height: 0;
  }
}

/*Story title header at bottom half of side panel*/
.side-panel-bottom h2 {
  font-size: $l-size;
  word-break: break-word;

  span {
    font-style: italic;
  }
}

/*Flavour text at bottom of side panel*/
.side-panel-bottom p {
  margin-bottom: $xxl-size;
  font-size: $s-size;
  font-style: italic;
  width: 80%;
  word-break: break-word;
}

/*Side panel login/logout button*/
.side-panel-bottom button {
  background: $gold;
  border-radius: 50px;
  border: none;
  height: 3.5rem;
  width: 7.5rem;
  letter-spacing: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 95%;
  text-align: center;
}

#register-button {
  width: 8.5rem;
}

/* buttons when not logged in */
.register-login {
  display: flex;
  column-gap: $s-size;
}

/*Layout for text that is displayed when a user is logged in*/
.logged-in {
  flex-direction: column;
  justify-content: flex-end;

  p {
    margin-bottom: $s-size;
  }
}

