/* _side_panel.scss */

/* styling for the whole side-panel div */
#side-panel {
  display: flex;
  flex-direction: column;
  font-family: $serif;
  justify-content: space-between;
  background-color: $purp;
  height: 100vh;
  padding: $l-size;
  color: $white;
}


.side-panel-top {
  /* Logo: Wb; */
  h2 {
    font-size: 10rem;
    margin-bottom: $xxl-size;
    font-weight: 700;
  }

  /*Logo: Wb;*/
  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: inherit;
  }

  /*Writer's Block text underneath logo*/
  h3 {
    font-size: $l-size;
    font-family: 'Spartan', Arial, sans-serif;
    margin-left: 2.4rem;
  }
}

/*Story title header at bottom of side panel*/
.side-panel-bottom h2 {
  font-size: $l-size;

  span {
    font-style: italic;
  }
}

/*Flavour text at bottom of side panel*/
.side-panel-bottom p {
  margin-bottom: $xxl-size;
  font-size: $s-size;
  font-style: italic;
  width: 80%;
}

/*Side panel login/logout button*/
.side-panel-bottom button {
  background: $gold;
  border-radius: 15px;
  border: none;
  height: 3.0rem;
  width: 7.5rem;
  letter-spacing: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

/* buttons when not logged in */
.register-login {
  display: flex;
  column-gap: $s-size;
}

.logged-in {
  flex-direction: column;
  justify-content: flex-end;

  p {
    margin-bottom: $s-size;
  }
}

