#side-panel {
  display: flex;
  background-color: $gray;
  height: 100vh;
  padding: $m-size;
}

#logo {
  height: 100px;
  fill: white;
  color: white;
}

#side-panel h2 {
  color: white;
  font-size: $m-size;
}

.register-login {
  display: flex;
  column-gap: $s-size;
}
