// All variables, colour schemes, and layout settings can go here
// See: https://sass-lang.com/

body,
html {
  margin: 0;
  font-size: 62.5%; //so we can use REM units. 1rem = 10px, 1.6rem = 16px, etc..
}

// Colours
$gray: #636363;
$white: #ffffff;
$black: #000000;
$purp: #942636;
$gold: #E1CF8D;

// Fonts
$serif: 'Source Serif Pro', Times, serif;

// Spacing
$s-size: 1.6rem;
$m-size: 2.4rem;
$l-size: 3.6rem;
$xl-size: 4.8rem;
$xxl-size: 8rem;
$desktop-breakpoint: 1200px;

// Panel Widths
$side-panel-width: 37.5%;
$main-body-width: 62.5%;
