body {
  display: flex;
  flex-flow: row wrap;
}

.side-panel-container {
  flex: 1;
  width: $side-panel-width;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 15px 40px 3px rgba(0, 0, 0, 0.56);
}

/*White area to the right of side-panel where the main content for each page goes*/
.main-body {
  flex: 1;
  /*needs left margin otherwise would position itself underneath side panel*/
  margin-left: $side-panel-width;
  width: $main-body-width;
}

@media only screen and (max-width: $desktop-breakpoint) {
  /*Remove side by side layout*/
  body {
    display: flex;
    flex-direction: column;
  }

  /*SIDE PANEL RESPONSIVE DESIGN*/
  /*Remove fixed positioning*/
  .side-panel-container {
    position: static;
    width: 100vw;
    box-shadow: 0 5px 40px 2px rgba(0, 0, 0, 0.56);

    #side-panel {
      height: 50vh;
      padding: $m-size;
    }

    /*login/logout buttons*/
    .register-login {
      position: absolute;
      top: $l-size;
      right: $l-size;
    }

    /*(logout) button when logged in*/
    .logged-in {
      flex-direction: row;
      align-items: center;
      p {
        margin-bottom: $s-size;
      }
    }

    /*Wb; Logo*/
    .side-panel-top h2 {
      margin-bottom: $m-size;
    }

    /*Feature story flavour text*/
    .side-panel-bottom p {
      margin: 0;
    }
  }

  /*MAIN BODY RESPONSIVE DESIGN*/
  .main-body {
    margin: 0;
    width: 100vw;
  }
}

/*For even smaller screens*/
@media only screen and (max-width: 420px) {
  /*add margin to top of logo so register/login buttons do not overlap with logo*/
  .side-panel-top h2 {
    margin-top: $l-size;
  }
}
