/*Homepage scss*/
.homepage-wrapper {
  font-family: 'Roboto', Helvetica, sans-serif;
  margin: auto;
  max-width: 75%;
}

/*User greeting*/
.text-body h1 {
  border-bottom: 1px solid black;
  font-family: $serif;
  font-weight: 700;
  margin: 10rem auto;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  a {
    background-color: $gold;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
    rgba(0, 0, 0, 0.35) 0px 5px 10px;
  }

  #pencil {
    color: black;
  }

}
/*------------LANDING DIV------------------- */

.landing-div {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #19191F;
  z-index: 10;
  background-color: #19191f;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.landing-wb-brand-panel {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 3rem;
  margin-top: 3rem;
}

.repeat-wb {
  font-family: 'Source Serif Pro', Times, serif;
  font-size: 9.6rem;
  padding-top: 2rem;
  font-weight: 700;
  line-height: 9.6rem;
}

#wb1 {
  opacity: 1;
  padding-bottom: 2rem;
}
#wb2 {
  opacity: 0.5;
  color: white;
  padding-bottom: 2rem;
}
#wb3 {
  opacity: 0.35;
  padding-bottom: 2rem;
}
#wb4 {
  opacity: 0.2;
  padding-bottom: 2rem;
}

.wb-description {
  display: flex;
  flex-direction: column;
  margin-top: 32.6rem;
  margin-left: 10rem;
}

.line {
  border: 2px solid $white;
  border-radius: 1px;
  color: $white;
  z-index: 30;
  width: 30%;
  margin: 2rem 0;
  opacity: 1;
}

.slogan {
  font-family: 'Source Serif Pro', Times, serif;
  font-size: 4.8rem;
  font-weight: 700;
  color: white;
}

.description {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  color: white;
  margin-top: 2rem;
}

.get-started-btn {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1.6rem;
  color: white;
  margin-top: 7.2rem;
  border: solid;
  border-color: $white;
  border-width: 0.2rem;
  border-radius: 3rem;
  padding: 1rem;
  max-width: 30%;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.get-started-btn:hover {
  background-color: white;
  color: #19191F;
  border-width: 0.2rem;
  border-radius: 3rem;
  padding: 1rem;
  max-width: 30%;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

/*------------------------------------------ */

/*title, author, progress, genre*/
.story-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  /*author & title div*/
  .name-title {
    display: flex;
    align-items: flex-end;
    column-gap: $m-size;
  }

  /*status & genre div*/
  .status-genre {
    display: flex;
    column-gap: $m-size;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    white-space: nowrap;
  }

  /*story title*/
  h2 {
    font-family: $serif;
  }
}

.genre {
  font-weight: 900;
}

/*story title*/
.homepage-story-title {
  font-size: $m-size;
  word-break: break-word;
  max-width: 90%;
}

/*author name above story*/
.homepage-author {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  padding-right: $m-size;
}

.homepage-flavourtext {
  font-family: $serif;
  font-size: $s-size;
  margin-bottom: $xl-size;
  word-break: break-word;
}

/*selector for <a> tag for each story on homepage directing to individual story page*/
.story-tile {
  text-decoration: none;
  color: inherit;
}

/*responsive design for homepage*/
@media only screen and (max-width: $desktop-breakpoint) {
  /*Remove the single line layout for Title, Author, Status, Genre*/
  .story-details {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: $s-size;

    .name-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    /*Smaller story title size*/
    .homepage-story-title {
      font-size: 2.1rem;
    }
  }
}
