/* stories_new.ejs */
/*
center entire form
*/
body#new-story-body {
  flex-direction: column;
  min-width: max-content;
  justify-content: center;
  align-items: center;
  background-color: #E1CF8D;
  font-family: "Source Serif Pro", Times, serif;
}

main#new-story-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  min-width: fit-content;
  max-width: 60vw;
  margin: 0px;
}

/*
center form title
*/
h3#new-story-title {
  margin: 5% 0% 10%;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 3rem;
}

/*
set  form labels and forms side-by-side and center vertically
*/
.story-forms-labels {
  display: flex;
  align-items: center;
  font-family: "Source Sans Pro", Times, serif;
  font-weight: bold;
  font-size: 1.6rem;
  color: #FFFFFF;
}

.story-forms-labels > * {
  margin: 0;
}

.form-control {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 0.33rem;
}

input.form-control {
  width: 80%;
}

.form-group > * {
  margin: 0.5rem 0rem;
}

label.new-story {
  width: 20%;
  margin-right: 1.75rem;
  text-align: right;
  font-family: Montserrat, Times, serif;
  font-size: 1.25rem;
  font-weight: 600;
}

@media only screen and (min-width: 1024px) {
label.new-story {
margin-right: 0rem;
padding-right: 1rem;
  }
}


#form-story-text {
  margin: 2rem 0rem 3rem 0rem;
  height: 35rem;
  resize: none;
}

/*
form footer style
*/
#story-form-footer {
  display: flex;
  justify-content: flex-end;
  font-size: 0.5rem;
}

.new-story-button {
  border-radius: 50px;
  background-color: inherit;
  color: black;
  font-weight: bold;
  border-width: 0.09rem;
  border-color: black;
  font-family: "Roboto", Times, serif;
}

#story-form-footer > * {
  margin-left: 1rem;
}

#new-story-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
}

#new-story-header * {
  margin: 1.8rem 1.8rem 0rem;
}

.new-story-right-header {
  font-size: 5rem;
  padding-top: 2.5rem;
  align-self: center;
}
