/* stories_new.ejs */

/*
center entire form
*/
body#new-story-body {
  justify-content: center;
  background-color: #E1CF8D;
  font-family: 'Source Serif Pro', Times, serif;
}

main#new-story-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

/*
center form title
*/
h3#new-story-title {
  margin: 2rem;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 36px;
}

/*
set  form labels and forms side-by-side and center vertically
*/
.story-forms-labels {
  display: flex;
  align-items: center;
}

.story-forms-labels > * {
  margin: 0;
}
